* {
  box-sizing: border-box;
  color: white;
  font-family: Arial, sans-serif;
}

html {
  background-color: #171f21;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #171f21;
}

@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
}

input[type="number"] {
  width: 50%;
  padding: 10px 10px;
  border: 1px solid #424c58;
  border-radius: 5px;
  text-align: center;
  background-color: #202b2e;
}

input[type="number"]:focus {
  border: 1px solid #202b2e;
  background-color: #424c58;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

button {
  width: 48%;
  padding: 10px 10px;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.buttonInitial {
  border: 2px solid #3b86ff;
  background-color: #3b86ff;
}
.buttonInitial:hover {
  border: 2px solid #2d6ae2;
  background-color: #2d6ae2;
}

.buttonAddProfit {
  margin-top: 5px;
  border: 2px solid #10b981;
  background-color: #10b981;
}
.buttonAddProfit:hover {
  border: 2px solid #059669;
  background-color: #059669;
}

.buttonAddLoss {
  margin-top: 5px;
  border: 2px solid #ef4444;
  background-color: #ef4444;
}
.buttonAddLoss:hover {
  border: 2px solid #dc2626;
  background-color: #dc2626;
}

.buttonUndo {
  width: 99%;
  margin-top: 10px;
  border: 2px solid #6b7280;
  background-color: #6b7280;
}
.buttonUndo:hover {
  border: 2px solid #4b5563;
  background-color: #4b5563;
}

.form-component {
  margin: 10px;
}

.topLeft {
  background-color: #202b2e;
  border-radius: 5px;
  flex-grow: 3;
}

.topRight {
  display: flex;
  align-items: stretch;
  background-color: #202b2e;
  border-radius: 5px;
  flex-grow: 7;
}

.topRight > div {
  flex-grow: 2;
}

.infoTitle {
  color: #6e7b84;
  text-align: center;
}

.infoValue {
  color: white;
  font-size: 1.1em;
  text-align: center;
  font-weight: bolder;
}

.infoValueTwo {
  color: white;
  text-align: center;
}

.bottomLeft {
  background-color: #202b2e;
  border-radius: 5px;
  flex-grow: 7;
}

.bottomRight {
  background-color: #202b2e;
  border-radius: 5px;
  flex-grow: 3;
}

.bottomContainer {
  display: flex;
  align-items: stretch;
}

.bottomContainer > div {
  flex-grow: 5;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

.bottomContainer > div > p {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottomTittle {
  color: white;
  font-weight: bolder;
}
